<div class="navbar-fixed">
    <app-header-chef></app-header-chef>
</div>
<div class=" container-border ">
    <div class=" row border-cards">
        <div class="col s12 m12 container-sumary  border-line colum ">
            <div *ngFor="let item of cardsElements " class="card description table-sumary ">
                <app-card-order-process [itemOrder]="item" [view]= "false" [stateOrderDb]="stateSave" (stateUpdate)="stateOrderChange($event)"></app-card-order-process>
            </div>
        </div>
    </div>
</div>