<div class="navbar-fixed">
  <app-header-chef></app-header-chef>
</div>
<div class="container-border">
  <div class="row border-cards"></div>
  <div class="container-sumary">
    <div *ngFor="let item of cardsElements" class="container-target">
      <div *ngIf="item.status != 'entregaChef'" class="table-sumary card">
        <app-card-order-process
          [itemOrder]="item"
          [view]="false"
          (stateUpdate)="stateOrderChange($event)"
        ></app-card-order-process>
      </div>
    </div>
  </div>
</div>
