<app-header></app-header>
<div class="row text-color">
  <div class="input-field col s6">
    <div class= "input-name">
      Nombre Cliente:
      <div class="input-field inline">
        <input
          [(ngModel)]="clientName"
          type="text"
          class="validate"
        />
      </div>
    </div>
  </div>
  <div class="input-field col s6">
    <div class="input-name">
      Mesa:
      <div class="input-field inline">
        <input [(ngModel)]="tableNumber" type="text" class="validate" />
      </div>
    </div>
  </div>
</div>
<!-- Botones cambio de tipo de menú -->
<div class="content-btn-menu">
  <button class="waves-effect waves-light btn text-font " (click)="switchMenu('breakfast')" [ngClass]="statedMenu === 'breakfast' ? 'indigo darken-4' : 'grey lighten-1 text-dark'" type="button"> Desayuno</button>
  <button class="waves-effect waves-light btn text-font " (click)="switchMenu('lunch')" [ngClass]="statedMenu === 'lunch' ? 'indigo darken-4' : 'grey lighten-1 text-dark' " type="button">Almuerzo/cena</button>
</div>
<!--Tarjetas del menú -->
<section class="row container-size">
  <div
    class="col s12 "
    [ngClass]="{ m6: screenWidth  <= 800, m4: screenWidth > 800 }"
    *ngFor="let plato of typeArrayMenu"
  >
    <div class="card horizontal" [ngClass]="{'size-card-small': screenWidth < 800,'size-card': screenWidth > 800}">
      <div class="card-image">
        <img [src]="plato?.image" class="size-img" />
      </div>

      <div class="card-stacked">
        <div class="card-content">
          <p>{{ plato?.name }}</p>
          <p class= "price">${{ plato?.price }}</p>
        </div>
        <div class="content-amount">
          <!-- Aqui van los botones de la cantidad -->
          <span class="input-group-btn">
            <button class="btn btn-default" id="menos" type="button">-</button>
          </span>
          <input
            type="text"
            style="width: 50px; text-align: center"
            id="contador"
            class="form-control"
            value="1"
          />
          <span class="input-group-btn">
            <button class="btn btn-default" id="mas" type="button">+</button>
          </span>
        </div>
        <a
          class="
            btn-floating btn-medium
            waves-effect waves-light
            indigo
            darken-4
            btn-position
          "
          ><i class="material-icons">add</i></a>
      </div>
      
    </div>
  </div>
</section>

<div class="row">
  <!-- Inicia resumen del pedido -->
  <div class="col s12 m12 container-sumary">
    <div class="card card-sumary">
      <div class="card-content white-text">
        <span class="card-title">Resumen del pedido</span>
        <hr class="line" />
      </div>
      <div class="data-client">
        <p>Cliente: {{ clientName }}</p>
        <p>Mesa: {{ tableNumber }}</p>
      </div>
      <hr class="line-one" />
      <div class= "container-table-sumary">
      <div class="card description table-sumary">
        <table>
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plato of menuArray.menu">
              <td>1</td>
              <td>{{ plato?.name }}</td>
              <td>20$</td>
              <td>Eliminar</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <a class="waves-effect waves-light btn">Enviar a cocina</a>
    </div>
  </div>
</div>
<!-- Termina resumen del pedido -->
