<nav>
  <div class="nav-wrapper myclassColor" >
    <a href="#" class="brand-logo">La Casa de Papel</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a >Personajes</a></li>
    </ul>
  </div>
</nav>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
</div>


<p>waiter-view works!</p>
<div>
    <button class="myclassColor" type="button"><a routerLink="/in-process" routerLinkActive="active">Orden por entregar</a></button>
    <button type="button"><a routerLink="/waiter-view" routerLinkActive="active">Desayuno</a> </button>

</div>

