<p>waiter</p>
<div class= "row text-color">
  <div class="input-field col s6">
    <div>
      Nombre Cliente:
      <div class="input-field inline">
        <input [(ngModel)]="clientName" id="client_inline" type="text" class="validate">
      </div>
    </div>
  </div>
  <div class="input-field col s6">
    <div >
      Mesa:
      <div class="input-field inline">
        <input [(ngModel)]="tableNumber" id="email_inline" type="text" class="validate">
      </div>
    </div>
  </div>
</div>
<div>
  <button class="myclassColor" type="button"><a routerLink="/in-process" routerLinkActive="active">Orden por
      entregar</a></button>
  <button type="button"><a routerLink="/waiter-view" routerLinkActive="active">Desayuno</a> </button>
</div>
<p>{{clientName}}</p>
<p>{{tableNumber}}</p>
<div>
  <p></p>
</div>
