<div class="containerMain">
  <div class="contentFirst">
    <div class="center-align title">
      <h1>Aquelarre</h1>
    </div>
    <div class="valign-wrapper separate-elements ">
      <div class="content-btn-icon">
        <img src="../../../assets/img/chef.png" alt="chef">
        <button class="waves-effect waves-light btn-large backgroundPage border-btn" type="button"
          routerLink="/waiter-view" routerLinkActive="active">Mesero</button>
      </div>
      <div class="content-btn-icon">
        <img src="../../../assets/img/mesero.png" alt="chef">
        <button class="waves-effect waves-light btn-large backgroundPage border-btn" type="button"> Chef</button>
      </div>
    </div>
  </div>
  <div class="logo-hamburguesa">
  <img src="../../../assets/img/logo-hamburguesa.png" alt="logo-hamburguesa">
</div>
</div>
