<div class="navbar-fixed">
  <app-header></app-header>
</div>
<div class="row text-color move-elements">
  <div class="input-field col s6">
    <div class="input-name">
      Nombre Cliente:
      <div class="input-field inline">
        <input [(ngModel)]="clientName" type="text" class="validate" />
      </div>
    </div>
  </div>
  <div class="input-field col s6">
    <div class="input-name">
      Mesa:
      <div class="input-field inline">
        <input [(ngModel)]="tableNumber" type="text" class="validate" />
      </div>
    </div>
  </div>
</div>
<!-- Botones cambio de tipo de menú -->
<div class="content-btn-menu">
  <button
    class="waves-effect waves-light btn text-font"
    (click)="switchMenu('breakfast')"
    [ngClass]="
      statedMenu === 'breakfast'
        ? 'indigo darken-4'
        : 'grey lighten-1 text-dark'
    "
    type="button"
  >
    Desayuno
  </button>
  <button
    class="waves-effect waves-light btn text-font"
    (click)="switchMenu('lunch')"
    [ngClass]="
      statedMenu === 'lunch' ? 'indigo darken-4' : 'grey lighten-1 text-dark'
    "
    type="button"
  >
    Almuerzo/cena
  </button>
</div>
<!--Tarjetas del menú -->
<section class="row container-size">
  <div
    class="col s12"
    [ngClass]="{ m6: screenWidth <= 800, m4: screenWidth > 800 }"
    *ngFor="let dish of typeArrayMenu"
  >
    <app-card-menu
      [myDish]="dish"
      [screen]="screenWidth"
      [arrayDish]="orderSumary"
      (sendOrder)="showResume($event)"
      (acumulatorTotal)="acumulatorPrice($event)"
      [showBurger]="arrayTypeBurger"
      (showArrayType)="showTypeBurger($event, $event)"
      (showModalAll)="showModalAdd($event)"
      (sendMyDish)="listenDish($event)"
    ></app-card-menu>
  </div>
</section>
<div class="row">
  <!-- Inicia resumen del pedido -->
  <div class="col s12 m12 container-sumary">
    <div class="card card-sumary">
      <div class="card-content white-text">
        <span class="card-title">Resumen del pedido</span>
        <hr class="line" />
      </div>
      <div class="data-client">
        <p>Cliente: {{ clientName }}</p>
        <p>Mesa: {{ tableNumber }}</p>
      </div>
      <hr class="line-one" />
      <div class="container-table-sumary">
        <div class="card description table-sumary">
          <table>
            <thead>
              <tr>
                <th>Cantidad</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of orderSumary; let i = index">
                <td>{{ product.cantidad }}</td>
                <td>{{ product.item.name }} {{product.burger.type}} {{product.burger.additions}}</td>
                <td>
                 $ {{ product.item.price | multiplyPrice: product.cantidad }}
                </td>
                <td>
                  <i
                    (click)="deleteProduct(product)"
                    class="small material-icons icon-delete"
                    >delete</i
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <p>Total: $ {{ totalOrder }}</p>
        </div>
      </div>
      <div *ngIf="orderSumary.length >= 1"  class="content-btn">
        <a 
        class="waves-effect waves-light btn modal-trigger"
        (click)="message()"
        >Enviar a cocina</a

        >
      </div>
    </div>
  </div>
</div>
<!-- Termina resumen del pedido -->
 <!--  -->
<div class="view-modal">
  <app-modal
    *ngIf="showModalAdit"
    [showArrayTypeBurger]="arrayTypeBurger"
    [showAdditions]="arrayAdditions"
    [isAddBurger]="stateBurger"
    [moveDish]="listenMyDish"
    (addBurger)="addSelectionBurger($event)"
  ></app-modal>
</div>

<div [ngClass]="{'container-modal-comfirmation': showModal }">
  <app-modal-confirmation
  *ngIf="showModal"
  [stateModal]="showModal"
  (changeStateModal)="viewModal($event)"
  (activeData)="stateAddOrder($event)"
  >
</app-modal-confirmation>
</div>
