
<!-- Modal de tipo y adiciones-->
<section class="content-modal-burger" >
  <div class="modal-burger">
    <div>
      <div class="content-menu-burger">
        <h5>Selecciona la Hamburguesa</h5>
        <div class="content-btn-burger">
        <div *ngFor="let type of showArrayTypeBurger"  class="btn-burger">
          <div  (click)="press(type, true); elementModal(type)" [ngClass]="{'btn-burger-active' :oppressedBtn == type}" class="modal-footer btn-burger">
            <a class="modal-close waves-effect waves-green btn-flat" > {{type}}</a>
          </div>
        </div>
      </div>

      <div class="content-menu-burger">
        <h5>Adicionales</h5>
        <div class="content-btn-burger">
          <div *ngFor="let typeAdd of showAdditions" class="modal-footer btn-burger">
            <a (click)="selectAdditions(typeAdd)" [ngClass]="{'btn-burger-active': stateKeep.includes(typeAdd) }" class="modal-close btn-burger">{{typeAdd}}</a>
          </div>

        </div>
      </div>
      <div class="content-btn-add">
        <div *ngIf="stateModalBurger" class="modal-footer btn-burger" >
          <a (click)="addBurgerForModal(moveDish)" class="modal-close waves-effect waves-green btn-flat">Añadir</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
