<div class="card horizontal" [ngClass]="{
        'size-card-small': screen < 800,
        'size-card': screen > 800
      }">
  <div class="card-image">
    <img [src]="myDish?.image" class="size-img" />
  </div>

  <div class="card-stacked">
    <div class="card-content">
      <p>{{ myDish?.name }}</p>
      <p class="price">${{ myDish?.price }}</p>
    </div>
    <div *ngIf="myDish?.subtype != 'burger'" class="content-amount">
      <!-- Aqui van los botones de la cantidad -->
      <span class="input-group-btn">
        <button (click)="decrement(myDish)" class="btn btn-default" id="menos" type="button">
          -
        </button>
      </span>
      <input type="text" style="width: 50px; text-align: center" id="contador" class="form-control"
        [value]="myDish.count" />
      <span class="input-group-btn">
        <button (click)="increment(myDish)" class="btn btn-default" id="mas" type="button">
          +
        </button>
      </span>
    </div>
    <a (click)="addDish(myDish); totalOrder(myDish)" id="add-product" class="
            btn-floating btn-medium
            waves-effect waves-light
            indigo
            darken-4
            btn-position
          "><i class="material-icons">add</i></a>
  </div>
</div>
