<div class="navbar-fixed">
  <app-header></app-header>
</div>
<div class="container-border">
  <div class="row border-cards"></div>
  <div class="container-sumary">
    <div *ngFor="let item of getOrderSave" class=" container-target">
      <div *ngIf="!item.status.includes('entregaCliente')" class="table-sumary card">
        <app-card-order-process [itemOrder]="item" [isState]="isActive" [view]="true" [viewHistory]="false"
          [currentStateOrder]="currentStateOrder" (stateUpdate)="stateOrderChangeInProcess($event)">
        </app-card-order-process>
      </div>
    </div>
  </div>
</div>
