<div class="navbar-fixed">
  <app-header></app-header>
</div>
<div class="container-border">
  <div class="row border-cards"></div>
  <div class="hide-element"></div>
  <div class="col s12 m12 container-sumary border-line colum">
    <div
      *ngFor="let item of getOrderSave"
      class="card description table-sumary"
    >
      <app-card-order-process
        [itemOrder]="item"
        [isState]="isActive"
        [view]="true"
        [currentStateOrder]="currentState"
      ></app-card-order-process>
    </div>
  </div>
</div>
