<div class="center-element">
  <div class="align-element">
    <div *ngIf="
        !itemOrder.status.includes('entregaCliente');
        then content;
        else other_content
      "></div>
    <ng-template #content> <p class ="text-date"><b>Se creo hace:</b> {{ countHours }}:{{ countMinutes }}:{{
      countSeconds
      }}</p> </ng-template>
    <ng-template #other_content> <p class ="text-date"><b>Su pedido tardo:</b>  {{ countHours }}:{{ countMinutes }}:{{
      countSeconds
      }}</p> </ng-template>

    <div class="center-element  content-date">
      <div>
        <p class ="text-date">
          <b>Fecha:</b>{{ itemOrder.creationTime.getDate() }}-{{
          itemOrder.creationTime.getMonth() + 1
          }}-{{ itemOrder.creationTime.getFullYear() }}
        </p>
      </div>
      <div>
        <p class ="text-date">
           <b>Hora:</b>{{ itemOrder.creationTime.getHours() }}:{{
          itemOrder.creationTime.getMinutes()
          }}:{{ itemOrder.creationTime.getSeconds() }}
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="contaniner-data-client">
  <div class="data-client">
    <p>Cliente: {{ itemOrder.nameClient }}</p>
    <p>Mesa: {{ itemOrder.table }}</p>
  </div>
</div>
  <hr>
  <div class="container-table">
    <div class="table-order ">
      <table >
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of itemOrder.products">
            <td>{{ product.nameProduct }}</td>
            <td>{{ product.count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


<div *ngIf="viewHistory == false; then contentBar"></div>
<ng-template #contentBar>

  <div *ngIf="view" class="center-element">
    <div class="align-element">
      <div>
        <div class="container-state-bar">
          <div [ngClass]="{ 'state-bar-active': subcriptionAtiveState }" class="state-bar"></div>
          <hr />
          <div [ngClass]="{ 'state-bar-active': itemOrder.status.length >= 1 }" class="state-bar"></div>
          <hr />
          <div [ngClass]="{ 'state-bar-active': itemOrder.status.length >= 2 }" class="state-bar"></div>
          <hr />
          <div [ngClass]="{ 'state-bar-active': itemOrder.status.length >= 3 }" class="state-bar"></div>
        </div>
        <p>Estado {{ subscriptionStateOrderDb }}</p>
      </div>
      <div>
        <a [ngClass]="{
            disabled:
              itemOrder.status.includes('entregaCliente') ||
              itemOrder.status.length < 2
          }" (click)="
            stateChange(itemOrder); stateValueSend('entregaCliente'); stopTimer()
          " class="waves-effect waves-light btn">Entregar</a>
      </div>
    </div>
  </div>
  <div *ngIf="!view" class="content-btn-modal card-chef">
    <!--  <div class= "content-button" >-->
    <a [ngClass]="{ disabled: itemOrder.status.includes('preparacion') }"
      (click)="stateChange(itemOrder); stateValueSend('preparacion')"
      class="waves-effect waves-light btn btn-firts btn-state-cards">Preparar</a>
    <a [ngClass]="{
          disabled:
            itemOrder.status.includes('entregaChef') ||
            itemOrder.status.length == 0
        }" (click)="stateValueSend('entregaChef'); stateChange(itemOrder)"
      class="waves-effect waves-light btn btn-second btn-state-cards">Entregar</a>

  </div>
</ng-template>
