/* You can add global styles to this file, and also import other style files */
@import "./materialize-imports.scss";
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@300&display=swap");

.backgroundPage {
  background-color: #1c2035 !important;
}

.rectangle {
  width: 160px;
  height: 200px;
  background: $underline-text;
  position: absolute;
  margin-left: 50px;
}

.triangle {
  width: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 100px solid #1c2035;
  position: absolute;
  margin-left: 50px;
  margin-top: 100px;
}

h1 {
  font-family: "Cookie", cursive;
  color: #ffffff;
  font-size: 130px;
  margin-top: 0px;
}

.containerMain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentFirst {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text-color,
.validate {
  color: #ffffff;
}
.input-field:focus {
  border-bottom: 0;
  box-shadow: none;
}

.text-dark {
  color: #000000;
}

.text-font {
  width: 254px;
  height: 40px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-transform: inherit;
}

.border-btn {
  border: 5px solid #f2e205;
  border-radius: 10px;
}

.separate-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.content-btn-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & img {
    width: 100px;
  }

  & button {
    width: 230px;
  }
}

.btn-large {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  box-shadow: 2px 6px 10px 0px #c6c2944b;
}

.logo-hamburguesa {
  position: absolute;
  bottom: 0px;
  right: 0px;

  & img {
    width: 280px;
  }
}
/* Comienzo de segunda pantalla*/
.brand-logo {
  width: 60px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  line-height: 55px;
}

.header-content {
  background-color: $main-color;
  border-bottom: 4px solid #fcfcfc;
}

.keep-style a {
  color: $underline-text !important;
  border-bottom: 2px solid $underline-text;
}

.arrow-back {
  position: relative;
  top: 10px;
}

.text-nav li a {
  font-size: 18px;
  padding-left: 30px;
}

.text-nav li a:hover {
  background: none;
  color: $underline-text;
  box-sizing: border-box;
}

.text-nav li:hover:nth-child(1n + 2) {
  border-bottom: 2px solid $underline-text;
  box-sizing: border-box;
}

input:not([type]),
input[type="text"]:not(.browser-default) {
  border: none;
}

.input-name {
  border: 2px solid #ffffff;
  border-radius: $border-general;
  padding-left: 5px;
}

.inline {
  margin: 0;
  padding: 0;
  height: 20px;
}

.input-field {
  height: 42px;
}

.line,
.line-one {
  border: 0.5px solid #0a0a0a63;
}
.line-one {
  margin: 0 24px;
}
.card-title {
  color: #000000;
}

.contaniner-data-client{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.data-client {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  & p {
    font-size: 18px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
  }
}
.container-size {
  width: 85%;
}
.card-image {
  display: flex;
  align-items: center;
}

.size-img {
  height: 100px;
}

.btn-position {
  position: absolute;
  top: -13px;
  right: 0;
}

.content-btn-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.card-content {
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  & p {
    font-weight: bolder;
  }
}
.price {
  font-size: 18px;
}

.content-amount {
  width: 170px;
}

.size-card {
  width: 90%;
}
.horizontal {
  border-radius: $border-general;
}
.size-card-small {
  width: 100%;
}
.container-table-sumary {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
//Nuevas clases para contenedor de tarjetas
.content-cards {
  display: flex;
  flex-flow: wrap;
}

/* .card {
  border: 2px solid rgb(255, 181, 23);
} */

.container-target {
  width: 90%;
 }

.container-sumary {
  box-sizing: border-box;
  position: relative;
   display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  z-index: 4;
  width: 90%;

}

.card-sumary {
  width: 80%;
  background-color: $color-grey-light;
  border-radius: $border-general;
}

.table-sumary {
  background-color: #fcfcfc;
  width: 100%;
  border-radius: $border-general;
}

.content-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.btn-enviar {
  box-shadow: 2px 3px 10px 0px $main-color;
}

.icon-delete {
  color: $icon-gray;
}

.modal-confirmation {
  position: relative;
  padding-top: 15px;
  width: 500px;
  height: 225px;
  min-width: 200px;
  z-index: 4;
  top: 250px;
  background-color: white;
  border-radius: 35px;
  text-align: center;
}
.container-modal-comfirmation {
  position: fixed;
  z-index: 4;
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
  overflow: none;
  font-family: $font;
  font-weight: bold;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  & p {
    margin-top: 20px;
    font-size: 20px;
  }
}

.content-btn-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-btn-modal {
  width: 100%;
  border-top: 1px solid $gray-line;
  margin-top: 75px;
}

.content-btn-modal div:nth-child(odd) {
  border-right: 0.5px solid $gray-line;
}

.content-btn-modal div:nth-child(even) {
  border-left: 0.5px solid $gray-line;
}

.btn-firts,
.btn-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.btn-firts a,
.btn-second a {
  width: 100%;
}

.title-modal {
  font-weight: bolder;
  text-align: center;
}

// modal-burger
.content-modal-burger {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  font-family: $font;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-burger {
  width: 500px;
  border-radius: 15px;
  background-color: $color-grey-light;
  margin: 15px 0;
}

.content-menu-burger {
  text-align: center;
  padding: 20px 0 0 0;
  & h5 {
    font-weight: bolder;
  }
}

.content-btn-burger {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0 0 0;
}

.btn-burger {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $main-color;
  width: 120px;
  height: 42px;
  border-radius: 15px;
  box-shadow: 2px 6px 5px 0px $main-color-light;
  & a {
    color: white;
    text-align: center;
    text-transform: inherit;
    font-size: 18px;
  }
}

.btn-burger-active {
  box-shadow: none;
  color: $underline-text;
  & a {
    color: $underline-text;
  }
}

.content-btn-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0 20px 0;
  & div {
    width: 200px;
  }
}

.view-modal {
  position: relative;
  width: 100%;
  top: -1000px;
}
/*estilo de mensaje*/
.color-message {
  background-color: rgba(255, 0, 0, 0.527);
  border-radius: 20px;
  width: 300px;
  font-weight: bold;
  font-family: $font;
}

//Estilos 3 vista waiter-in-process
.container-border {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  bottom: 0px;
  background-color: $main-color;

}

.border-cards {
  display: flex;
  justify-content: center;
  width: 93%;
  height: 85%;
  border: 3px solid $color-grey-light;
  border-radius: 20px;
  top: 10px;
  margin: auto;
  align-content: center;
  position: fixed;
  z-index: 3;
  bottom: 10px;
}

.content-button{
    width: 100%;
}

.card-chef{
  margin-top: 20px;
}
.btn-state-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  height: 50px;

}

.content-btn-modal .btn-firts {
  border-radius: 0 0 0 10px;
}
 .content-btn-modal .btn-second {
  border-radius: 0 0 10px 0;
 }

.border-line .table-sumary {
  width: 90%;
  position: relative;
  top: 125px;
  bottom: 50px;
}

.hide-element {
  position: fixed;
  height: 98px;
  width: 100%;
  background-color: $main-color;
  z-index: 2;
}

.center-element {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }

 .content-date{
   width: 65%;
 }

 .text-date{
   font-size: 16px;
 }

.align-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.container-table{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.table-order {
  align-items: center;
  width: 90%;
}

tr td:nth-child(1n + 2), th:nth-child(1n + 2){
  text-align: center;
}

/* Barra de estados */
.container-state-bar {
  position: relative;
  top: 10px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  align-items: center;
  & hr {
    width: 25px;
    align-items: center;
  }
}

.state-bar {
  content: "";
  border: 2px solid black;
  border-radius: 20px;
  width: 35px;
  height: 35px;
}

.state-bar-active {
  background-color: $state-color;
}

@media screen and (min-width: 900px) {
  .border-line .table-sumary {
    width: 42%;
    position: relative;
    top: 115px;
    bottom: 50px;
  }

  .border-cards {
    top: 30px;
    width: 95%;
  }

  .hide-element {
    height: 110px;
  }

  .state-bar {
    content: "";
    border: 2px solid black;
    border-radius: 20px;
    width: 25px;
    height: 25px;
  }

  .container-state-bar {
    & hr {
      width: 12px;
    }
  }

  .container-target {
    width: 65%;
  }
}
