/* You can add global styles to this file, and also import other style files */
@import "./materialize-imports.scss";
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@300&display=swap");

.backgroundPage {
  background-color: #1c2035 !important;
}
// .input-p:active, .input-p{
//   outline: none;
// }
.rectangle {
  width: 160px;
  height: 200px;
  background: $underline-text;
  position: absolute;
  margin-left: 50px;
}

.triangle {
  width: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 100px solid #1c2035;
  position: absolute;
  margin-left: 50px;
  margin-top: 100px;
}

h1 {
  font-family: "Cookie", cursive;
  color: #ffffff;
  font-size: 130px;
  margin-top: 0px;
}

.containerMain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentFirst {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text-color,
.validate {
  color: #ffffff;
}
.input-field:focus {
  border-bottom: 0;
  box-shadow: none;
}

.text-dark {
  color: #000000;
}

.text-font {
  width: 254px;
  height: 40px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-transform: inherit;
}

.border-btn {
  border: 5px solid #f2e205;
  border-radius: 10px;
}

.separate-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.content-btn-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & img {
    width: 100px;
  }

  & button {
    width: 230px;
  }
}

.btn-large {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  box-shadow: 2px 6px 10px 0px #c6c2944b;
}

.logo-hamburguesa {
  position: absolute;
  bottom: 0px;
  right: 0px;

  & img {
    width: 280px;
  }
}
/* Comienzo de segunda pantalla*/
.brand-logo {
  width: 60px;
}
.text-nav li a {
  font-size: 18px;
  padding-left: 30px;
}

.text-nav li a:hover {
  background: none;
  color: $underline-text;
  box-sizing: border-box;
}

.text-nav li:hover:nth-child(1n+2)  {
  border-bottom: 2px solid $underline-text;
  box-sizing: border-box;
}

.input-name {
  border: 2px solid #ffffff;
  border-radius: $border-general;
  padding-left: 5px;
}
.inline {
  margin: 0;
  padding: 0;
  height: 20px;
}
.input-field {
  height: 42px;
}
.line,
.line-one {
  border: 0.5px solid #0a0a0a63;
}
.line-one {
  margin: 0 24px;
}
.card-title {
  color: #000000;
}

.data-client {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-left: 26px;
  & p {
    font-size: 18px;
    font-weight: bolder;
  }
}
.container-size {
  width: 85%;
}
.card-image {
  display: flex;
  align-items: center;
}

.size-img {
  height: 100px;
}

.btn-position {
  position: absolute;
  top: -13px;
  right: 0;
}

.content-btn-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.card-content {
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  & p {
    font-weight: bolder;
  }
}
.price {
  font-size: 18px;
}

.content-amount {
  width: 170px;
}

.size-card {
  width: 90%;
}
.horizontal {
  border-radius: $border-general;
}
.size-card-small {
  width: 100%;
}
.container-table-sumary {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-sumary {
  display: flex;
  justify-content: center;
}

.card-sumary {
  width: 80%;
  background-color: $color-grey-light;
  border-radius: $border-general;
}

.table-sumary {
  background-color: #fcfcfc;
  width: 80%;
  border-radius: $border-general;
}

.content-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.btn-enviar{
  box-shadow: 2px 3px 10px 0px $main-color;
}

.icon-delete{
  color: $icon-gray;
}

.modal-confirmation{
  padding-top: 15px;
  width: 250px;
  background-color: white;
  border-radius: 35px;
  text-align: center;
}

.content-btn-modal{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-btn-modal{
  border-top: 1px solid $gray-line;
}

.content-btn-modal div:nth-child(odd){
  border-right: 0.5px solid $gray-line;
}

.content-btn-modal div:nth-child(even){
  border-left: 0.5px solid $gray-line;
}

.btn-firts, .btn-second{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.btn-firts a, .btn-second a{
  width: 100%;
}

.title-modal{
  font-size: medium;
  font-weight: bolder;
  text-align: center;
}

// modal-burger
.content-modal-burger{
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  font-family: $font;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-burger{
  width: 500px;
  border-radius: 15px;
  background-color: $color-grey-light;
  margin: 15px 0;
}

.content-menu-burger{
  text-align: center;
  padding: 20px 0 0 0;
  & h5{
    font-weight: bolder;
  }
}

.content-btn-burger{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0 0 0;
}

.btn-burger{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  width: 120px;
  height: 42px;
  border-radius: 15px;
  box-shadow: 2px 6px 5px 0px $main-color-light;
  & a{
    color: white;
    text-align: center;
    text-transform: inherit;
    font-size: 18px;
  }
}

.btn-burger-active{
  box-shadow: none;
  color: $underline-text;
  & a{
    color: $underline-text;
  }
}

/* .btn-burger a{
  color: white;
  text-align: center;
  text-transform: inherit;
  font-size: 18px;
} */

.content-btn-add{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0 20px 0;
  & div{
      width: 200px;
  }
}

