<header class="container-header">
  <nav class="navbar-fixed">
    <div class="nav-wrapper header-content">
      <img src="../../../assets/img/chef.png" alt="chef" class="brand-logo right" />
      <ul class="left text-nav">
        <li class="arrow-back">
          <a routerLink="">
            <img src="../../../assets/img/arrow.svg" alt="arrow" /></a>
        </li>
        <li  [ngClass]="{'keep-style': isClassActive == '/view-chef-order'}" class="tab"><a routerLink="/view-chef-order">Ordenes</a></li>
        <li [ngClass]="{'keep-style': isClassActive == '/history-order-chef'}"><a routerLink="/history-order-chef">Ordenes listas</a></li>
      </ul>
    </div>
  </nav>
</header>
