<header class="container-header">
  <nav class="navbar-fixed">
    <div class="nav-wrapper header-content">
      <img
        src="../../../assets/img/mesero.png"
        alt="mesero"
        class="brand-logo right"
      />
      <ul class="left text-nav">
        <li class="arrow-back">
          <a routerLink="">
            <img src="../../../assets/img/arrow.svg" alt="arrow"
          /></a>
        </li>
        <li [ngClass]="{'keep-style': isClassActiveWaiter == '/waiter-view'}" class="tab" ><a routerLink="/waiter-view">Crear Orden</a></li>
        <li [ngClass]="{'keep-style': isClassActiveWaiter == '/in-process'}"><a routerLink="/in-process">Orden por entregar</a></li>
        <li [ngClass]="{'keep-style': isClassActiveWaiter == '/history'}"><a routerLink="/history">Historial de Ordenes</a></li>
      </ul>
    </div>
  </nav>
</header>
