<header class="container-header">
  <nav class="navbar-fixed">
      <div class="nav-wrapper">
          <img src="../../../assets/img/mesero.png" alt="mesero" class="brand-logo right ">
          <ul class="left text-nav">
              <li> <img  routerLink="" src="../../../assets/img/arrow.svg" alt="fleha"></li>
              <li><a routerLink="/waiter-view"></a>Crear Orden</li>
              <li><a routerLink="/in-process"></a>Orden por entregar</li>
              <li><a routerLink="/history"></a>Historial de Ordenes</li>
            </ul>
    </div>
  </nav>
</header>
